{% extends "plantillaapp.html" %}
{% block LinkAdicional%}<link rel="stylesheet" href="{{ url_for('static', filename='css/DashboadAdmin.css') }}">
{% endblock%}
{% block body %}
<div class="card-container">
    <!-- Tarjeta 1: Dashboard -->
    <div class="card">
        <div class="card-icon">📊</div>
        <h3 class="card-title">Dashboard</h3>
        <p class="card-description">Accede al panel de control principal.</p>
        <a href="{{ url_for('dashboard_admin') }}" class="card-button">Ir al Dashboard</a>
    </div>

    <!-- Tarjeta 2: Productos -->
    <div class="card">
        <div class="card-icon">🛒</div>
        <h3 class="card-title">Productos</h3>
        <p class="card-description">Gestiona y agrega nuevos productos.</p>
        <a href="{{ url_for('GestionProductos') }}" class="card-button">Gestionar Productos</a>
    </div>

    <!-- Tarjeta 3: Servicios -->
    <div class="card">
        <div class="card-icon">🛠️</div>
        <h3 class="card-title">Servicios</h3>
        <p class="card-description">Explora nuestros servicios disponibles.</p>
        <a href="{{ url_for('servicios') }}" class="card-button">Ver Servicios</a>
    </div>


{% endblock %}