{% extends './plantillaapp.html' %}

{% block titulo %}Editar Productos{% endblock %}

{% block LinkAdicional %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editar_productos.css') }}">
{% endblock %}

{% block body %}

  <!-- Submenú para Crear, Editar y Eliminar productos -->
<div class="Submenunavegacion">
    <ul>
        <li class="Submenunavegacion"><a href="{{ url_for('GestionProductos') }}">Crear Producto</a></li>
        <li class="Submenunavegacion"><a href="{{ url_for('editar_productos') }}">Editar Productos</a></li>
        <li class="Submenunavegacion"><a href="{{ url_for('eliminar_productos') }}">Eliminar Productos</a></li>
    </ul>
</div>
<main>
 
    <h2>Editar Productos</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>${{ producto[3] }}</td>
                    <td>
                        <a href="{{ url_for('editar_producto', id=producto[0]) }}" class="btn-edit">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}