<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo%} {% endblock%}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo.PNG') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% block LinkAdicional%} {% endblock%}

</head>
    <!-- Menú principal -->
    <header>
        <div class="logo logo_main"> 
            <img id="logo" src="{{ url_for('static', filename='img/Logo.PNG') }}">
        </div>
         
        <div class="nav">
            <div class="wrap">
                <div class="logo logo_small"><a class="link" href="{{ url_for('index') }}">CYBERSHOP</a></div>
                <nav>
                    {% if datosApp.longMenuAppindex > 0 %}
                    <ul>
                        {% for i in datosApp.MenuAppindex %}
                        <li><a href="{{ url_for(i.url.split('#')[0]) }}{% if '#' in i.url %}#{{ i.url.split('#')[1] }}{% endif %}">{{ i.nombre }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h2>NO HAY DATOS DEL APP</h2>
                    {% endif %}
                </nav> 
            </div>
        </div>
        <i class="fas fa-ellipsis-v btn-menu"></i>
    </header>
<body>

        {% block body %}
        {% endblock %}


        <div class="chat-button">
            <a href="https://wa.me/573027974969" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png" alt="Chat Icon">
                <span>Chatea con nosotros</span>
            </a>
        </div>
    <!-- Pie de página -->
    <footer class="footer">
        <div class="footer-content">
            <h3>Codecoreshop Colombia</h3>
            <p>Síguenos en nuestras redes sociales y compra nuestros planes especiales.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="mailto:cybershop.digitalsales@gmail.com"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.youtube.com/@codecraftershubs"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/in/andersonroatech/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy;2025 Codecoreshop Colombia.</p>
            <span class="Empresa">Desarrollador: viejokay59@gmail.com</span>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>

